.productCluster{
    display: flex;
    flex-wrap: wrap;
    margin: -.375rem;
}

.productUnique{
    display: flex;
    flex-direction: column;
    margin: .375rem;
    padding: 1rem;
    align-items: center;
    height: 450px;
    width: 350px;
}

.productImage{
    margin: 0 auto 0;
    height: 300px;
    width: 300px;
}

.counter{
    display: flex;
    justify-content: center;
}

.counterValue{
    margin: 0 2rem 0;
}

.prices{
    display: inline-flex;
}

.priceMSRP{
    display: block;
    float: left;
    margin-right: 1.5rem;
}

.priceMarket{
    display: block;
    float: right;
    text-align: right;
    margin-left: 1.5rem;
}
