a{
    text-decoration: none;
}

#headbar{
    background-color: #222;
    display: block;
    line-height: 5rem;
    margin: -1.1rem -0.5rem 0rem;
}

.menu{
    display: flex;
    list-style: none;
    padding-left: none;
}

.menu a{
    color: #fff;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    padding: 1rem;
    white-space: nowrap;
}

main{
    margin: 1%;
    padding: 0 4.5rem;
}

main a{
    color: black;
}

.generationClusterInternal{
    display: flex;
    flex-wrap: wrap;
    margin: -.375rem;
}

.expansionUnique{
    border: 1px solid #dfdfdf;
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
    margin: .375rem;
    padding: 1rem;
    width: 270px;
    height: 175px;
    align-items: center;
}

.expansionUnique a{
    color: inherit;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.expansionUnique h2{
    font-size: 1.65rem;
    font-weight: 600;
    margin: 0.25rem 0rem 2rem;
    text-align: center;
    text-transform: none;
}

.expansionLogo{
    margin: 0 auto 0;
}