body{
    margin: 50px;
    background-color: #008282;
    font-family: "MS Sans Serif";
}

#people{
    float: left;
    margin-left: 50px;
    margin-right: 100px;
}

#places{
    margin-top: 33px;
}
